{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <title>آزمون اجتماعی فصل نهم|نمره آزما</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon-yellow.ico' %}" />

    <link type="text/css" rel="stylesheet" href="{% static 'css/test.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/timer.css' %}">
    <script type="text/js" src="{% static 'js/test.js' %}"></script>
    <noscript>
        <link type="text/css" rel="stylesheet" href="{% static 'css/test.css' %}">
         لطفا جاوا اسکریپت خود را از قسمت تنظیمات مرورگر فعال کنید <a href="https://b2n.ir/k78366">آموزش فعال کردن جاوااسکریپت در مرورگر</a><br>اگر جاوااسکریپت فعال نباشد، شما نمیتوانید آزمون را ارسال کنید! 
    </noscript>
</head>

<body>
    <script>
        alert("سلام دانش‌آموز عزیز در بروزرسانی های بعدی رابط کاربری جذاب تر و بهتر می شود \nلطفا تا اتمام آزمون از سایت خارج نشوید تا نمره شما به صورت کامل درج شود \nسپاس فراوان تیم توسعه نمره آزما");
    </script>
    <div id="container">
        <header id="head">
			<div id="head1">
				<div id="app"></div>
			</div>
			<div id="head2">
				<h1 class="h1a">به نام خدا</h1>
				<h1 class="h1a">آزمون اجتماعی</h1>
			</div>
        </header>
        <section>
            <div id="left">
            </div>
            <div id="right">
            </div>
            <form action="" method="POST">
                <div class="bordi">
                </div>
                <h1 class="hlab">نام خود را وارد نمایید</h1>
                <label for="lusername">نام:</label><br>
                <input title="نام خود را وارد نمایید" type="text" name="username" id="username" lang="fa" required><br>
                <span class="error" aria-live="polite"></span>
                <h1 class="hlab">شماره دفتری خود را وارد نمایید</h1>
                <label for="lnum">شماره:</label><br>
                <input title="نام خود را وارد نمایید" min="1" max="23" type="number" name="num" id="num" required><br>
                <span class="error" aria-live="polite"></span>
                <script type="text/js" src="{% static 'js/test.js' %}"></script>
				
                <p class="pNumber">۱</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t1" value="1" />گزینه یک<br/>
                <input type="radio" name="t1" value="2" />گزینه دو<br/>
                <input type="radio" name="t1" value="3" />گزینه سه<br/>
                <input type="radio" name="t1" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t1" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۲</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t2" value="1" />گزینه یک<br/>
                <input type="radio" name="t2" value="2" />گزینه دو<br/>
                <input type="radio" name="t2" value="3" />گزینه سه<br/>
                <input type="radio" name="t2" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t2" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۳</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t3" value="1" />گزینه یک<br/>
                <input type="radio" name="t3" value="2" />گزینه دو<br/>
                <input type="radio" name="t3" value="3" />گزینه سه<br/>
                <input type="radio" name="t3" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t3" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۴</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t4" value="1" />گزینه یک<br/>
                <input type="radio" name="t4" value="2" />گزینه دو<br/>
                <input type="radio" name="t4" value="3" />گزینه سه<br/>
                <input type="radio" name="t4" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t4" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۵</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t5" value="1" />گزینه یک<br/>
                <input type="radio" name="t5" value="2" />گزینه دو<br/>
                <input type="radio" name="t5" value="3" />گزینه سه<br/>
                <input type="radio" name="t5" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t5" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۶</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t6" value="1" />گزینه یک<br/>
                <input type="radio" name="t6" value="2" />گزینه دو<br/>
                <input type="radio" name="t6" value="3" />گزینه سه<br/>
                <input type="radio" name="t6" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t6" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۷</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t7" value="1" />گزینه یک<br/>
                <input type="radio" name="t7" value="2" />گزینه دو<br/>
                <input type="radio" name="t7" value="3" />گزینه سه<br/>
                <input type="radio" name="t7" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t7" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۸</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t8" value="1" />گزینه یک<br/>
                <input type="radio" name="t8" value="2" />گزینه دو<br/>
                <input type="radio" name="t8" value="3" />گزینه سه<br/>
                <input type="radio" name="t8" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t8" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۹</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t9" value="1" />گزینه یک<br/>
                <input type="radio" name="t9" value="2" />گزینه دو<br/>
                <input type="radio" name="t9" value="3" />گزینه سه<br/>
                <input type="radio" name="t9" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t9" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۰</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t10" value="1" />گزینه یک<br/>
                <input type="radio" name="t10" value="2" />گزینه دو<br/>
                <input type="radio" name="t10" value="3" />گزینه سه<br/>
                <input type="radio" name="t10" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t10" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۱</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t11" value="1" />گزینه یک<br/>
                <input type="radio" name="t11" value="2" />گزینه دو<br/>
                <input type="radio" name="t11" value="3" />گزینه سه<br/>
                <input type="radio" name="t11" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t11" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۲</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t12" value="1" />گزینه یک<br/>
                <input type="radio" name="t12" value="2" />گزینه دو<br/>
                <input type="radio" name="t12" value="3" />گزینه سه<br/>
                <input type="radio" name="t12" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t12" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۳</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t13" value="1" />گزینه یک<br/>
                <input type="radio" name="t13" value="2" />گزینه دو<br/>
                <input type="radio" name="t13" value="3" />گزینه سه<br/>
                <input type="radio" name="t13" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t13" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۴</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t14" value="1" />گزینه یک<br/>
                <input type="radio" name="t14" value="2" />گزینه دو<br/>
                <input type="radio" name="t14" value="3" />گزینه سه<br/>
                <input type="radio" name="t14" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t14" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <p class="pNumber">۱۵</p>
                <p class="pqo">
                    سوال
                </p>
                <input type="radio" name="t15" value="1" />گزینه یک<br/>
                <input type="radio" name="t15" value="2" />گزینه دو<br/>
                <input type="radio" name="t15" value="3" />گزینه سه<br/>
                <input type="radio" name="t15" value="4" />گزینه چهار<br/><br/>
                <input type="radio" name="t15" value="0" class="empput" />این سوال بدون پاسخ بماند<br/>
                <a href="/"><input type="submit" value="پایان" class="submit" /></a>
                <script src="{% static 'js/test.js' %}"></script>
            </form>
        </section>
    </div>
</body>

</html>

{% endblock %}