@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-Light';
    src: url('../fonts/Vazir-Light.woff') format('woff'), url('../fonts/Vazir-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url('../fonts/Vazir-Medium.woff') format('woff'), url('../fonts/Vazir-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-Thin';
    src: url('../fonts/Vazir-Thin.woff') format('woff'), url('../fonts/Vazir-Thin.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url('../fonts/Vazir-Bold.woff') format('woff'), url('../fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Plain-Regular';
    src: url('../fonts/Plain-Regular.woff2') format('woff2'), url('../fonts/Plain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain-Light';
    src: url('../fonts/Plain-Light.woff2') format('woff2'), url('../fonts/Plain-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Plain-Bold';
    src: url('../fonts/Plain-Bold.woff2') format('woff2'), url('../fonts/Plain-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

noscript {
    font-family: 'Vazir-Medium', 'Plain-Regular', 'sans-serif';
    background-color: aqua;
    text-align: center;
}

body {
    font-family: 'Vazir', 'Plain-Regular', 'sans-serif';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0 auto 0;
}

.h1a {
    text-align: center;
    color: #F1C111;
    text-shadow: 1px 1px 2px black, 0 0 25px #a0a0a0, 0 0 5px darkblue;
    line-height: 70px;
    margin: 0%;
}

.submit {
    width: auto;
    background-color: blueviolet;
    color: #fff;
    font-family: 'Vazir-Light', 'Plain-Regular', 'sans-serif';
    font-weight: bold;
    padding: 7px;
}

div {
    text-align: right;
    direction: rtl;
}

.pNumber {
    color: #0088ff;
    font-weight: bolder;
    font-size: 23px;
}

.pqo {
    background-color: #3ad28f;
    text-align: center;
}

#left {
    width: 25%;
    height: 5000px;
    float: left;
    text-align: center;
    background-attachment: fixed;
    background-color: #bbd4d4;
}

#right {
    width: 3%;
    height: 5000px;
    float: right;
    background-attachment: fixed;
    background-color: white;
}

#head {
    margin: 0px;
}

#head1{
	background-color: #171819;
	width:39%;
	float:left;
    height: 150px;
}
#head2{
	background-color: #171819;
	width:61%;
	float:right;
    height: 150px;
}
.bordi {
    padding: 8px;
    border-top: 12px ridge #bbd4d4;
    width: 1800px;
}
input:invalid {
    border: 2px dashed red;
}
  
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
  
input:valid {
    border: 2px solid green;
}

@media only screen and (max-width: 700px)
{
    #left {
        display: none;
    }
    #right {
        display: none;
    }
    .h1a {
        font-size:18px;
        text-align: center;
        color: #F1C111;
        text-shadow: 1px 1px 2px black, 0 0 25px #a0a0a0, 0 0 5px darkblue;
        line-height: 45px;
        margin: 0%;
    }
    #head1{
        background-color: #171819;
        width:39%;
        float:left;
        height: 100px;
    }
    #head2{
        background-color: #171819;
        width:61%;
        float:right;
        height: 100px;
    }
    .hlab{
        font-size:16px;
    }
}