/*
Adding some fonts
*/
@font-face{
	font-family: 'Vazir';
	src: url('../fonts/Vazir.woff') format('woff'),
		url('../fonts/Vazir.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Light';
	src: url('../fonts/Vazir-Light.woff') format('woff'),
		url('../fonts/Vazir-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Medium';
	src: url('../fonts/Vazir-Medium.woff') format('woff'),
		url('../fonts/Vazir-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Thin';
	src: url('../fonts/Vazir-Thin.woff') format('woff'),
	    url('../fonts/Vazir-Thin.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Bold';
	src: url('../fonts/Vazir-Bold.woff') format('woff'),
        url('../fonts/Vazir-Bold.woff2') format('woff2');
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: 'Plain-Regular';
	src: url('../fonts/Plain-Regular.woff2') format('woff2'),
		url('../fonts/Plain-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plain-Light';
	src: url('../fonts/Plain-Light.woff2') format('woff2'),
		url('../fonts/Plain-Light.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Plain-Bold';
	src: url('../fonts/Plain-Bold.woff2') format('woff2'),
		url('../fonts/Plain-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/*
	-----------------End adding fonts--------------------------
*/
.form-control
{
	background-image: url(../img/BG1.webp);
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	margin-top: 20%;
    text-align: center;
}
#submitlogin , #submitsignup
{
    font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    background-color: #3370B7;
    color: #FFFFFF;
    font-size: 16px;
    padding: 1px 6px 1px 6px;
    text-align: center;
}
html
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
}